
body {
  margin: 0;
  font-family:'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favBtn{
padding: 10px;
border-radius: 20px;
color:#525252;
margin-bottom: 4%;
border: none;
width: 50px;
cursor: pointer;
}

.contactBtn{
  width: 350px;
}

h1{
  text-align: center;
}

a{
  color:#000006;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: #1f2749;
}

footer {
  bottom: 0;
  background-color:	#7FFFD4;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 3rem;
}

footer > p {
  margin: 0;
  padding-top: 0.5rem;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; 
  filter: brightness(0);
} 

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 210px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 1.5px solid #1f2749;
  border-radius: 4px;
  flex-wrap: wrap;
}

.card:hover{
  border: 0.5px solid #4f5796;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contactDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.card-container{
  text-align: center;
}

.card-img{
  display: flex;
  justify-content: center;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}